/* Fonts */
@font-face {
  font-family: "JetBrainsMonoNL";
  src: url("../assets/fonts/JetBrainsMonoNL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMonoNL";
  src: url("../assets/fonts/JetBrainsMonoNL-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "JetBrainsMonoNL";
  src: url("../assets/fonts/JetBrainsMonoNL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMonoNL";
  src: url("../assets/fonts/JetBrainsMonoNL-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "JetBrainsMonoNL";
  src: url("../assets/fonts/JetBrainsMonoNL-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "half";
  src: url("../assets/fonts/Half.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "halfRegular";
  src: url("../assets/fonts/Half-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --attributesWidth: 60%;
  --hpAdInvWidth: 20%;
  --statAndHpGap: calc((var(--attributesWidth) + var(--hpAdInvWidth)) / 4);
  --orange: #e98633;
}

h1 {
  font-family: "half";
  font-weight: normal;
}

/* Main Page Styling */
* {
  font-family: "JetBrainsMonoNL", monospace;
  margin: 0;
}

html {
  background: #4a3a68;
}

body {
  padding-top: 80px;
  padding-bottom: 40px;
  /*background-color: #4A3A68; */
  color: #ffffff;
  font-weight: 100;
  font-family: "JetBrainsMonoNL", Courier, monospace;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/bg_copy.jpg) fixed;
  background-position: bottom right;
  background-size: cover;
  background-repeat: repeat;
}

/* Container for the main content */
.main {
  width: 80%;
  min-height: 400px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

/* Header and button container */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

.text-logo {
  position: relative;
}

.text-logo h1 {
  font-size: 100px;
  line-height: 0.44em;
  text-align: center;
  color: var(--orange);
  transform: scaleY(1.3);
}

.text-logo:before {
  content: "a character generator for";
  position: absolute;
  font-size: 14px;
  font-style: italic;
  top: -38px;
}

.logo {
  width: 400px;
  height: auto;
  aspect-ratio: 3 / 1;
  background: url("../assets/vov_logo_v1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonsAndToggles {
  display: flex;
  gap: 40px;
}

.characterGeneratorBtn,
#ancestrySelectBtn {
  background-color: #292438;
  padding: 10px 20px 10px 20px;
  color: #d3c5b8;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: none;
  font-size: unset;
  font-weight: 100;
}

select {
  /* styling */
  border: none;
  display: inline-block !important;
  font: inherit !important;
  line-height: 1.5em !important;
  padding: 0.5em 3.5em 0.5em 1em !important;

  /* reset */

  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.test {
  background-image: linear-gradient(45deg, transparent 50%, #d3c5b8 50%),
    linear-gradient(135deg, #d3c5b8 50%, transparent 50%),
    linear-gradient(to right, #d3c5b8, #d3c5b8) !important;
}

select {
  /* background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc) !important; */
  background-image: linear-gradient(45deg, transparent 50%, #d3c5b8 50%),
    linear-gradient(135deg, #d3c5b8 50%, transparent 50%),
    linear-gradient(to right, #d3c5b8, #d3c5b8) !important;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
  background-repeat: no-repeat !important;
  transition: 0.2s ease-in-out;
}
select:hover {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, white, white) !important;
}

.characterGeneratorBtn:hover,
#ancestrySelectBtn:hover {
  background-color: var(--orange);
  color: white;
}

/* Stats Section */
.statsAndHP {
  display: flex;
  flex-direction: row;
  /* gap: var(--statAndHpGap); */
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
}

/* .statsAndHP:before {
    content: "";
    background: white;
    height: 1px;
    width: var(--statAndHpGap);
} */

.statsAndHPv > div {
  flex: 1;
}

.statsAndHP .attributes {
  order: -1;
}

.statsAndHP p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  cursor: alias;
  font-weight: 400;
  /* color: navajowhite !important; */
}

a:hover,
a:hover span {
  font-style: italic;
  color: var(--orange) !important;
}

#ancestryAbilities span {
  font-weight: bold;
}

.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
  justify-content: space-between;
}

.standOut {
  color: var(--orange);
  font-weight: bold;
}
.attrAbrv,
.attrBonus {
  font-weight: bold;
}

.attrCol {
  display: flex;
  flex-direction: column;
}

.attrCol,
.hpAdInv {
  row-gap: 1em;
}

.hpAdInv {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  flex-wrap: wrap;
  width: 180px;
}

/* .hpAdRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
} */

.hpAdInv.inv {
  width: 100%;
}

.hpAdInv div {
  text-align: right;
}
.hpAdInv .inv {
  width: 100%;
}

/*Name and Ancestry Row*/
.nameAndAncestryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.nameAndAncestryRow > div {
  width: calc(50%);
}

/* Character Info Section */
.allCharacterInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
}

.allCharacterInfo > div {
  width: calc(50% - 10px);
  max-width: 50%;
  margin: 0px;
}
/* .allCharacterInfo .infoCol-1>div {
    padding-right: 40px;
}
.allCharacterInfo .infoCol-2>div {
    padding-left: 40px; 
} */
.infoCol > div {
  padding: 20px;
  border: solid white 0.5px;
}

/*Title Box BGs*/
.titleBox {
  background: #2d2d2d67;
  margin-top: 20px;
}

/* Name and Features section */
.nameAndFeatures {
}

.name {
  /* font-size: 24px;
    color: #FFD700;
    margin-bottom: 10px; */
  padding-right: 40px;
}

.features {
  font-size: 16px;
}

/* Ancestry Section */

.ancestry {
  /* font-size: 20px;
    color: #FF6347;
    margin-bottom: 10px; */
  padding-left: 40px;
}

.ancestryDescription {
  font-size: 16px;
  line-height: 1.4;
}

.ancestryImg {
  height: auto;
  aspect-ratio: 1 / 1;
  background: url("https://imgur.com/0poepoW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Special Abilities Section */
.specialAbilities,
.startingEquipment {
}

/* Links and hover effects */
a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  color: #ff6347;
}

/* Button Animation */

.characterGeneratorBtn {
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .allCharacterInfo,
  .statsAndHP {
    flex-direction: column;
  }
  .allCharacterInfo > div {
    width: 100%;
    max-width: 100%;
  }
  .infoCol > div {
    padding: 20px;
    border: solid white 0.5px;
  }
  .nameAndAncestryRow {
    flex-direction: column;
  }
  .nameAndAncestryRow > div {
    width: 100%;
  }
  .ancestryDescription {
    font-size: 14px;
  }
  .attrCol {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
